@import '../../base';
.Details {
  @apply bg-secondary   py-2 px-24 font-body;
  @include respon(tap-land){
    @apply px-5 ;
}
  @include respon(tap-port){
    @apply px-1 ;
}
  min-height: 100vh;

  section {
    @apply flex content-center items-center text-right m-20;
    @include respon(tap-port){
      @apply flex-col ;
  }
    h2 {
      @apply text-primary my-4 text-6xl;
    }
    p{
        @apply  text-primary font-thin text-4xl;
    }
  }

  .product {
    width: 40%;
    height: 50vh;
    object-fit: cover;
    @apply rounded-2xl m-auto mx-4;
    @include respon(phone){
      @apply rounded-2xl ;
      width: 90%;
      height: auto
  }
  }
  div{
    @apply   mx-2 text-right;
    h1{
        @apply text-3xl font-bold text-center underline text-primary ;
    }
    h2{
        @apply font-bold my-2 text-yellow-500 ;
    }
    h3{
        @apply my-1 text-primary;
    }
    p{
        @apply text-primary my-10 ;
    }
  }
}
